body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./assets/Airbrush-Image-Enhancer.jpeg);
}
table {
  width: 35%;
  height: 35%;

  border-collapse: collapse;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.white {
  background-color: #ebecd0;
}
.black {
  background-color: #739552;
}

img{
    width: 80%;
    height: 80%;
    padding-left: 7px;
}
tr{
    width: 80px;
    height: 80px;
    padding: 10px;
    
}